<input type="text" [(ngModel)]="textAddress">
<google-map [center]="center">
  <map-marker
    [position]="markerCurrent.position"
    [label]="markerCurrent.label"
    [title]="markerCurrent.title"
    [options]="markerCurrent.options"
  ></map-marker>

  <map-marker
    [position]="markerDestiny.position"
    [label]="markerDestiny.label"
    [title]="markerDestiny.title"
    [options]="markerDestiny.options"
  ></map-marker>
  <map-polyline [options]="polylineOptions"></map-polyline>
</google-map>

<router-outlet></router-outlet>
